.back-button-index{
    margin-top:-20px;
  }
  .wrapper-pools{
    // border:1px solid red;
    margin-top:20px;
    margin-left:-20px;
  }
.traits-image img {
  height: 411px;
  width: 615px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.container-image {
  height: 400px;
  width: 650px;
  padding-top: 50px;
}

.flex-container-trait {
  display: flex;
  justify-content: space-between;
}

.container-trait-description {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
  }
}

.book-trait {
  background-color: #F9CF59;
  width: 308px;
  height: 55px;

  a {
    color: white !important;
  }
}

.book-trait-button {
  text-align: right;
}

.container {
  padding-top: 29px;

  h1 {
    font-family: $title-font;
    font-size: 40px;
    font-weight: bold;

    span {
      color: #81AA8A;
      font-size: 20px;
      font-weight: bold;
      font-family: Raleway;
    }
  }
}

.container-fluid {
  padding-top: 42px;
  padding-bottom: 65px;

  h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  }

  .other-pools-wrapper{
    margin:0 auto;
    display:flex;
    justify-content: center;
  }
}

//  media q.
@media screen and (max-width: 1200px){
  .back-button-index{
    margin-top:-20px;
  }
  .wrapper-pools{
    // border:1px solid red;
    margin-top:20px;
    margin-left:-40px;
  }
}


@media screen and (max-width: 960px) {
  .back-button-index{
    margin-top:-20px;
  }
  .wrapper-pools{
    // border:1px solid red;
    margin-top:20px;
    margin-left:-80px;
  }
  .traits-image img {
    // border:1px solid red;
    height: 411px;
    width: 515px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 5%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  .pool-description{
    // border:1px solid red;
    text-align:center;
    // margin-left:10%;
  }

   .book-trait-button{
    margin:0 auto;
  }
}

@media screen and (max-width: 768px) {
  .back-button-index{
    margin-top:-20px;
  }
  .wrapper-pools{
    // border:1px solid red;
    margin-top:20px;
    margin-left:-25px;
  }
   .wrapper-show{
    display:flex;
    flex-direction: column;
  }
  .traits-image img {
    height: 411px;
    width: 515px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 5%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  .pool-description{
    // border:1px solid red;
    text-align:center;
    // margin-left:10%;
  }

   .book-trait-button{
    margin:0 auto;
  }

}


@media screen and (max-width: 613px) {
  .back-button-index{
    margin-top:-20px;
  }
  .wrapper-pools{
    // border:1px solid red;
    margin-top:20px;
    margin-left:-30px;
  }
  .wrapper-show{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .traits-image img {
    height: 311px;
    width: 415px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 10%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  .pool-description{
    text-align:center;
    // margin-left:10%;
  }
  .book-trait-button{
    margin:0 auto;
  }
}

@media screen and (max-width: 500px) {
  .back-button-index{
    margin-top:-20px;
  }
  .wrapper-pools{
    // border:1px solid red;
    margin-top:20px;
    margin-left:-10px;
  }
  .wrapper-show{
    display:flex;
    flex-direction: column;
  }

  .traits-image img {
    height: 211px;
    width: 315px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  .pool-description{
    margin-left:10%;
  }

}

@media screen and (max-width: 375px) {
  .back-button-index{
    margin-top:-20px;
  }
  .wrapper-pools{
    // border:1px solid red;
    margin-top:20px;
    margin-left:-30px;
  }
  .wrapper-show{
    display:flex;
    flex-direction: column;
  }
  .traits-image img {
    height: 211px;
    width: 315px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  .pool-description{
    margin-left:10%;
  }
  .book-trait-button{
    margin:0 8%;
  }
  .other-pools-title{
    margin-left:-45px;
  }
  .card-product{
    width:350px;
    height:100px;

    img{
      width:150px;
    }
  }
  .card-text{
    display:none;
  }
  .card-body h5{
    font-size:20px;
  }
}
